* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #b2eee9 30%, #ee9c64 90%);
  min-height: 100vh;
}

.MuiTableCell-root,
.MuiTableCell-head {
  max-width: 10rem;
  overflow-wrap: break-word;
  word-break: break-all;
}
