* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #b2eee9 30%, #ee9c64 90%);
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; */
  min-height: 100vh;
}
